<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="app-carousel">
  <template>
    <style>
      :host {
        display: block;
        overflow: hidden;
        position: relative;
      }
      div > ::slotted(:not([selected])) {
        display: none;
      }
      div > ::slotted(app-carousel-item) {
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
      }
      button {
        background: none;
        border: none;
        color: #559cbe;
        cursor: pointer;
        font-size: 40px;
        font-weight: bold;
        line-height: 40px;
        opacity: 0.8;
        outline: none;
        padding: 0 20px;
        position: absolute;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.1);
        top: calc(50% - 20px);
      }
      button:hover,
      button:focus { opacity: 1; }
      button[disabled] { opacity: 0.2; cursor: not-allowed; }
      #prevBtn { left: 12px; transform: translateX(-10px); }
      #nextBtn { right: 12px; transform: translateX(10px); }
    </style>

    <div>
      <slot></slot>
    </div>

    <button id="prevBtn" on-click="previous">&#x276E;</button>
    <button id="nextBtn" on-click="next">&#x276F;</button>
  </template>

  <script>
    class AppCarousel extends Polymer.Element {
      static get is() { return 'app-carousel'; }

      static get properties() {
        return {
          selected: {
            type: Object,
            observer: '_selectedChanged'
          },
        }
      }

      connectedCallback() {
        super.connectedCallback();

        requestAnimationFrame(this._installListeners.bind(this));

        this.selected = this.firstElementChild;

// TODO: Do not remove
//        console.log('visible:', this._visibleOnScreen());
//        document.addEventListener('scroll', e => {
//          console.log('s visible:', this._visibleOnScreen());
//          if (this._visibleOnScreen()) this._keyboardControls();
//        });
      }

// TODO: Do not remove
//      _keyboardControls() {
//        document.addEventListener('keyup', e => {
//          console.log('e.which:', e.which);
//        });
//      }
//
//      _visibleOnScreen() {
//        const rect = this.getBoundingClientRect();
//        const limit = 767;
//        const winH = window.innerHeight;
//        const winW = window.innerWidth;
//        return (
//          rect.top<=winH &&
//          rect.top>=0 - rect.height &&
//          winW>=limit
//        );
//      }

      _installListeners() {
        this.addEventListener('transitionend', this._resetChildrenStyles.bind(this));
        this.addEventListener('touchstart', this._touchStart.bind(this));
        this.addEventListener('touchmove', this._touchMove.bind(this));
        this.addEventListener('touchend', this._touchEnd.bind(this));
      }

      _resetChildrenStyles() {
        console.log('Reset children styles');
        let elem = this.firstElementChild;
        while (elem) {
          elem.style.display = '';
          elem.style.transition = '';
          elem.style.transform = '';
          elem = elem.nextElementSibling;
        }
      }

      _selectedChanged(selected, oldSelected) {
        if (oldSelected) oldSelected.removeAttribute('selected');
        if (selected) selected.setAttribute('selected', '');
        this.$.prevBtn.disabled = !selected.previousElementSibling;
        this.$.nextBtn.disabled = !selected.nextElementSibling;
      }

      _touchEnd(event) {
        // No transition if less than two images
        if (this.childElementCount<2) {
          return;
        }

        // Don't finish swiping if there are still active touches
        if (event.touches.length) {
          return;
        }

        if (this._touchDir === 'x') {
          let dx = Math.round(event.changedTouches[0].clientX - this._startX);
          const prevChild = this.selected.previousElementSibling;
          const nextChild = this.selected.nextElementSibling;

          // Don't translate past the current image if there's no adjacent image in that direction
          if ((!prevChild && dx>0) || (!nextChild && dx<0)) {
            dx = 0;
          }

          if (dx>0) {
            if (dx>100) {
              if (dx === this.offsetWidth) {
                // No transitionend will fire (since we're already in the final state)
                // so we reset children styles now
                this._resetChildrenStyles();
              }
              else {
                this._translateX(prevChild, 0, true);
                this._translateX(this.selected, this.offsetWidth, true);
              }
              this.selected = prevChild;
            }
            else {
              this._translateX(prevChild, -this.offsetWidth, true);
              this._translateX(this.selected, 0, true);
            }
          }
          else if (dx<0) {
            if (dx< -100) {
              if (dx === -this.offsetWidth) {
                // No transitionend will fire (since we're already in the final state)
                // so we reset children styles now
                this._resetChildrenStyles();
              }
              else {
                this._translateX(this.selected, -this.offsetWidth, true);
                this._translateX(nextChild, 0, true);
              }
              this.selected = nextChild;
            }
            else {
              this._translateX(this.selected, 0, true);
              this._translateX(nextChild, this.offsetWidth, true);
            }
          }
          else {
            // No transitionend will fire (since we're already in the final state)
            // so we reset children styles now
            this._resetChildrenStyles();
          }
        }

        // Reset touch direction
        this._touchDir = null;
      }

      _touchMove(event) {
        // No transition if less than two images
        if (this.childElementCount<2) {
          return;
        }

        // Is touchmove mostly horizontal or vertical?
        if (!this._touchDir) {
          const absX = Math.abs(event.changedTouches[0].clientX - this._startX);
          const absY = Math.abs(event.changedTouches[0].clientY - this._startY);
          this._touchDir = absX>absY ? 'x' : 'y';
        }

        if (this._touchDir === 'x') {
          // Prevent vertical scrolling when swiping
          event.preventDefault();

          let dx = Math.round(event.changedTouches[0].clientX - this._startX);
          const prevChild = this.selected.previousElementSibling;
          const nextChild = this.selected.nextElementSibling;

          // Don't translate past the current image if there's no adjacent image in that direction
          if ((!prevChild && dx>0) || (!nextChild && dx<0)) {
            dx = 0;
          }

          this._translateX(this.selected, dx);
          if (prevChild) {
            this._translateX(prevChild, dx - this.offsetWidth);
          }
          if (nextChild) {
            this._translateX(nextChild, dx + this.offsetWidth);
          }
        }
      }

      _touchStart(event) {
        // No transition if less than two images
        if (this.childElementCount<2) {
          return;
        }

        // Save start coordinates
        if (!this._touchDir) {
          this._startX = event.changedTouches[0].clientX;
          this._startY = event.changedTouches[0].clientY;
        }
      }

      _translateX(elem, x, transition) {
        elem.style.display = 'block';
        elem.style.transition = transition ? 'transform 0.2s' : '';
        elem.style.transform = `translate3d(${x}px, 0, 0)`;
      }

      previous() {
        const elem = this.selected.previousElementSibling;
        if (elem && !this._touchDir) {
          // Setup transition start state
          const oldSelected = this.selected;
          this._translateX(oldSelected, 0);
          this._translateX(elem, -this.offsetWidth);

          // Start the transition
          this.selected = elem;
          this._translateX(oldSelected, this.offsetWidth, true);
          this._translateX(elem, 0, true);
        }
      }

      next() {
        const elem = this.selected.nextElementSibling;
        if (elem && !this._touchDir) {
          // Setup transition state state
          const oldSelected = this.selected;
          this._translateX(oldSelected, 0);
          this._translateX(elem, this.offsetWidth);

          // Start the transition
          this.selected = elem;
          this._translateX(oldSelected, -this.offsetWidth, true);
          this._translateX(elem, 0, true);
        }
      }
    }

    customElements.define(AppCarousel.is, AppCarousel);
  </script>
</dom-module>