/* LOAD FONTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* DEFAULTS
---------------------------------------------- */
* { box-sizing: border-box; }
html {
    height: 100%;
    width: 100%;
}
body {
    background: #0b73b6;
    color: #6a7680;
    font-family: 'Open Sans', sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    height: 100%;
    line-height:1.3;
    padding-top: 90px;
    margin: 0;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a {
    color: #0b73b6;
    transition: color 0.15s;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:hover {
    color: #0a4e79;
}
address {
    line-height: 1.5;
}

/* Double header/footer 404/redirect fix */

app-shell app-shell header,
app-shell app-shell #contact {
  display: none;
}
p {
    line-height: 1.8;
    margin: 1.875rem 0;
}
p + p {
    margin-top: -.5rem;
}
header + p,
h2 + p {
    margin-top: 1.25rem;
}
h4 + p, .h4 + p {
    margin-top: 1rem;
}
.news header + p {
    margin-top: 1.5rem;
}
/* Headlines */
h1, .h1 {
    color: #36434d;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0 .625rem;
}
.news h1, .news .h1 { font-size: 1.5rem; }
h2, .h2 {
    color: #36434d;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0 0 1.333rem;
}
h3, .h3 {
    color: #6caf21;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 1rem;
}


/* HELPER CLASSES
---------------------------------------------- */
/* Background */
.bg {
    padding: 3rem 5%;
    position: relative;
    width: 100%;
}
.bg--flat {
    padding-bottom:0 !important;
    padding-top:0 !important;
}
.bg--gray {
    background-color: #595959;
    color: white;
}
.bg > .inner {
    padding-bottom:0 !important;
    padding-top:0 !important;
}
/* Accent */
.bg--accent { background: #36434d; }
.bg--accent h2 { color: #fff; }
.bg--accent a { color: #fff; }
/* Primary */
.bg--primary { background: #fff; }
/* Secondary */
.bg--secondary { background: #f5f5f6; }
/* Tertiary */
.bg--tertiary { background: #0b73b6; color: #fff; }
.bg--tertiary h2 { color: #fff; }
.bg--tertiary a { color: #fff; }

/* Block */
.block {
    display: block;
    width: 100%;
}

/* clearfix */
.clearfix:after {
    clear:both;
    content:'';
    display:block;
}

/* Hide */
.hide { display: none; }

/* Margins */
.margin-top--large { margin-top: 2rem !important; }

/* Text */
.text--center { text-align: center !important; }
.text--left { text-align: left !important; }
.text--right { text-align: right !important; }

/* Width */
.width--full {
    width: 100%;
}


/* WIDGETS
---------------------------------------------- */
/* Bios */
.bio--content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: .625rem 0;
    transition: background .15s;
}
a.bio--content:hover {
    background: #0a6ba9;
}
.bg--accent a.bio--content:hover { background: #2f3b46; }
.bg--tertiary a.bio--content:hover { background: #0a6ba9; }
/* -- Name */
.bio--name {
    display: block;
    font-size: 1rem;
    margin-bottom: .25rem;
}
.bg--accent .bio--name { color: #fff; }
.bg--tertiary .bio--name { color: #fff; }
/* -- Thumbnail */
.bio--thumb {
    align-items: center;
    background: #0a5484;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: .625rem;
    overflow: hidden;
    width: 160px;
    height: 160px;
}
.bio--thumb img {
    border-radius: 50%;
}
.bg--accent .bio--thumb { background: #1f2b35; }
.bg--tertiary .bio--thumb { background: #0a5484; }
/* -- Title */
.bio--title {
    color: rgba(106,118,128,.7);
    display: block;
    font-size: 1rem;
}
.bg--accent .bio--title { color: rgba(255,255,255,.8); }
.bg--tertiary .bio--title { color: rgba(255,255,255,.8); }

/* Buttons */
.btn {
    align-items: center;
    background-color: #0b73b6;
    border: none;
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: .9333rem;
    height: 50px;
    justify-content: center;
    padding: 0 1.333rem;
    text-transform: uppercase;
}
.btn:hover { color: #fff; }
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:active {
  background: #ccc;
  cursor: not-allowed;
}

/* Client Logos */
.client--logo {
    align-items: center;
    background: #fff;
    border-radius: .5rem;
    display: flex;
    height: 140px;
    justify-content: center;
    width: 100%;
}

/* Columns */
[class*="col-"] {
    margin-bottom: 1.25rem;
}
[class*="col-"] > :last-child {
    margin-bottom: 0 !important;
}

/* Contact */
.contact--location {
    padding: 1rem;
    transition: background .15s;
}
.contact--location:last-of-type {
    margin-bottom: 0;
}
.contact--location address {
    color: rgba(255, 255, 255, .8);
    margin: .625rem 0;
    line-height: 1.5;
}

/* Icons */
.icon { margin-right: 1rem; }
.icon--details { background-position-y: -980px; }
.icon--masters { background-position-y: -840px; }
.icon--nerds { background-position-y: -1260px; }
.icon--picture { background-position-y: -560px; }
.icon--quality { background-position-y: -1120px; }
.icon--wizard { background-position-y: -700px; }

/* Inner Wrapper */
.inner {
    margin: 0 auto;
    padding: 2.25rem 0;
    text-align: center;
    width: 100%;
}
.inner--flat {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.inner--narrow { max-width: 960px; }
.inner--short { padding: 2rem 0; }

/* Next/Prev Arrows */
.next:after {
    content: '»';
    display: inline-block;
    padding-left: 7px;
    transform: translateY(-1px);
}
.prev:before {
    content: '«';
    display: inline-block;
    padding-right: 7px;
    transform: translateY(-1px);
}

/* News Detail */
.news table {
    display: block;
    border-collapse: collapse;
    width: 100%;
}
.news th {
    display: none;
    padding-bottom: 1rem;
    vertical-align: bottom;
}
.news td {
    display: block;
    padding: 0 0 1rem;
    vertical-align: top;
}
.news .show--mobile {
    margin-bottom: .3125rem;
}

/* News Thumb */
.news--content {
    background: #f5f5f6;
    border-radius: .5rem;
    display: block;
    margin-bottom: 1.25rem;
    padding: 1.875rem;
    text-align: left;
}
a.news--content:hover {
    background: #f5f5f6;
}
[class*="col-"] .news--content:last-child {
    margin-bottom: 0;
}
.news--date {
    color: #6caf21;
    display: block;
    font-size: .8125rem;
    margin-bottom: .5625rem;
    text-transform: uppercase;
}
.news--title {
    color: #0b73b6;
    line-height: 1.4;
}

/* Row */
[class*="row-"] {
    margin-bottom: -1.25rem;
    text-align: center;
}

/* Mobile Defaults */
.show--mobile { display:block; }


/* COMPONENT OVERRIDES
---------------------------------------------- */
/* App Carousel (No JS) */
app-shell {
  background: #fff;
  display: block;
  width: 100%;
  height: 100%;
}
app-shell[unresolved] app-carousel {
    flex-wrap: wrap;
}
app-shell[unresolved] app-carousel-item {
    display: block;
    left: auto;
    position: relative;
}
app-shell[unresolved] app-carousel-item + app-carousel-item {
    margin-top: 1.25rem;
}


/* LAYOUT / SITE SPECIFICS
---------------------------------------------- */
/* Home Banner */
.banner {
    background: linear-gradient(#c6dbe9, #f2f3f4);
    border-bottom: 15px solid #0b73b6;
    padding: 0;
}
.banner .inner {
    display: flex;
}
.banner--wrap {
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 92%;
    float:left;
    margin: 0 auto;
    min-height: 606px;
    padding: 0 1rem;
}
.banner--text {
    padding-top: 2.5rem;
    text-align: center;
}
.banner h1 {
    font-size: 2.5rem;
}
.banner h2 {
    color: #0b73b6;
    font-size: 1.5625rem;
}
.banner strong {
    color: #36434d;
    display: block;
    font-size: 2.1875rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: .625rem;
}

/* Header */
.header {
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 300;
}
.header .inner {
    align-items: center;
    display: flex;
    height: 90px;
}
.header__logo {
    display: block;
}
.header__logo-svg {
    height: 50px;
    width: 200px;
}
.header__nav {
    padding: 100px 30px 0;
    height: 90px;
}
.header__nav-link {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    color: #fff;
    display: block;
    font-size: 1.25rem;
    line-height: 1.2;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
}
.header__nav-link:last-of-type {
    border-bottom-color: transparent;
}
.header__nav-link:hover {
    color: #fff;
}
app-shell[unresolved] .header__nav-container {
    display: none;
}
.header__nav-open {
    display: none;
}


/* MEDIA QUERIES
---------------------------------------------- */
/* ABOVE TABLET (Portrait) */
@media screen and (min-width: 768px) {
    /* DEFAULTS
    ---------------------------------------------- */
    body {
        font-size: 1.125rem;
        line-height: 1.3;
    }
    p {
        line-height: 1.8;
        margin-bottom: 2.5rem;
        margin-top: 2.5rem;
    }
    .bio h2 + p {
        margin-top: 2.1875rem;
    }

    /* HELPER CLASSES
    ---------------------------------------------- */
    /* Margins */
    .margin-top--large { margin-top: 5rem !important; }

    /* WIDGETS
    ---------------------------------------------- */
    /* Section Backgrounds */
    .bg {
        padding-left: 3%;
        padding-right: 3%;
    }

    /* Buttons */
    .btn {
        font-size: .9375rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    /* Columns */
    [class*="col-"] {
        margin-bottom: 1.5rem;
    }
    [class*="col-"] > :first-child { margin-top: 0 !important; }
    .col--1of2 {
        flex-basis: 48%;
        min-width: 48%;
    }
    .col--1of3 {
        flex-basis: 30.333%;
        min-width: 30.333%;
    }
    .col--1of4 {
        flex-basis: 22%;
        min-width: 22%;
    }
    .col--1of5 {
        flex-basis: 17%;
        min-width: 17%;
    }

    /* News Detail */
    .news table { display:table; }
    .news th { display:table-cell; }
    .news td {
        display:table-cell;
        padding-bottom: 2rem;
        padding-right: 2rem;
    }
    .news tr:last-of-type td {
        padding-bottom: 0;
    }

    /* Rows */
    [class*="row-"] {
        margin-bottom: -1rem;
    }
    h2 + [class*="row-"] {
        margin-top: 2.1875rem;
    }
    h3 + [class*="row-"] {
        margin-top: 2.5rem;
    }
    .row--tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .row--center {
        justify-content: center;
        width: 103%;
    }
    .row--center [class*="col-"] {
        margin-right: 3%;
    }
    .row--center [class*="col-"]:last-of-type {
        margin-right: 0 !important;
    }

    /* LAYOUT / SITE SPECIFICS
    ---------------------------------------------- */
    /* Homepage Banner */
    .dev.no-webp .banner--wrap { background-image: url(/dev/assets/images/family.png); }
    .es5.no-webp .banner--wrap { background-image: url(/es5/assets/images/family.png); }
    .es6.no-webp .banner--wrap { background-image: url(/es6/assets/images/family.png); }
    .dev.webp .banner--wrap { background-image: url(/dev/assets/images/family.webp); }
    .es5.webp .banner--wrap { background-image: url(/es5/assets/images/family.webp); }
    .es6.webp .banner--wrap { background-image: url(/es6/assets/images/family.webp); }

    .section-404 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 600px;
    }

    /* TABLET SPECIFIC
    ---------------------------------------------- */
    .show--mobile { display:none; }
    .block--tablet { display: block; }
    .hide--tablet { display: initial; }
}

/* ABOVE TABLET (Landscape) */
@media screen and (min-width: 1024px) {
    /* DEFAULTS
    ---------------------------------------------- */
    body {
        padding-top:110px;
    }
    .news header + p {
        margin-top: 3rem;
    }
    /* Headlines */
    h1, .h1,
    .news h1, .news .h1 {
        font-size: 2.8125rem;
        line-height: 1.4;
    }
    h2, .h2 {
        font-size: 2.8125rem;
        margin-bottom: 1.25rem;
    }
    h3, .h3 {
        font-size: 1.5625rem;
        line-height: 1.4;
        margin-bottom: 1.5rem;
    }
    h4, .h4 {
        font-size: 1.125rem;
        line-height: 1.4;
        margin-bottom: 1rem;
    }

    /* HELPER CLASSES
    ---------------------------------------------- */
    /* Active Achor Jump Target */
    .anchor--active {
        transition: padding-top .1s;
    }
    .anchor--active:not(#contact) {
        padding-top: 210px !important;
    }

    /* Block */
    .block--desktop {
        display: block;
    }

    /* WIDGETS
    ---------------------------------------------- */
    /* Backgrounds */
    .bg {
        padding-bottom: 6.25rem;
        padding-top: 6.25rem;
    }

    /* Bios */
    /* -- Name */
    .bio--name { font-size: 1.125rem; }
    /* -- Title */
    .bio--title { font-size: 1.125rem; }

    /* Columns */
    [class*="col-"] {
        text-align: left;
    }
    .col--main {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 56.25rem;
        text-align: center;
    }
    .col--1of4--desktop {
        flex-basis: 22%;
        min-width: 22%;
    }

    /* Contact */
    .contact--location {
      flex: 1;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
    .contact--location.active {
      background: var(--link-hover--tertiary, #0a6ba9);
    }
    app-shell[unresolved] .contact--location.active {
      background: none;
    }

    /* Inner Wrapper */
    .inner { padding: 6.25rem 0; }

    /* Rows */
    [class*="row-"] {
        margin-bottom: -1.5rem;
    }
    .row--desktop {
        display: flex;
        justify-content: space-between;
    }
    .row--main {
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
    }

    /* WEB-COMPONENT OVERRIDES
    ---------------------------------------------- */
    #app-content-wrapper {
      min-height: 500px;
    }

    /* LAYOUT / SITE SPECIFICS
    ---------------------------------------------- */
    /* Header */
    .header {
        position: fixed;
    }
    .header .inner {
        height: 110px;
    }
    .header__logo-svg {
        height: 50px;
        width: 200px;
    }
    .header__nav {
      display: flex;
      height: 110px;
      padding: 0;
    }
    .header__nav-container {
        align-items: stretch;
        display: flex;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }
    app-shell[unresolved] .header__nav-container {
        display: block;
    }
    .header__nav-link {
      align-items: center;
      border-bottom: 10px solid transparent;
      color: #36434d;
      display: flex;
      font-size: .9375rem;
      line-height: 1;
      margin: 0 13px;
      text-align: left;
    }
    .header__nav-link:hover {
      color: #6a7680;
    }
    .header__nav-link.active {
        border-bottom-color: #6caf21;
    }

    #investors picture {
      width: 100%;
      text-align: center;
    }

    /* DESKTOP SPECIFIC
    ---------------------------------------------- */
    .desktop--hide { display: none; }
}

/* DESKTOP INTERMEDIATE */
@media screen and (min-width:1200px) {
    /* WIDGETS
    ---------------------------------------------- */
    /* Contact */
    .contact--location {
      transform: translateX(-1rem);
    }

    /* DESKTOP SPECIFIC
    ---------------------------------------------- */
    /* Columns */
    .row--center [class*="col-"] {
        margin-right: 0;
    }
    .col--1of4--desktop-mid {
        flex-basis: 23.5%;
        min-width: 23.5%;
    }
    .col--1of5--desktop-mid {
        flex-basis: 18%;
        min-width: 18%;
    }
    /* Row */
    .row--desktop-mid {
        justify-content: space-between;
    }
    .row--center {
        width: 100%;
    }
}

/* DESKTOP (Max) */
@media screen and (min-width:1400px) {
    /* WIDGETS
    ---------------------------------------------- */
    /* Inner Wrapper */
    .inner {
        max-width: 1380px;
        position: relative;
    }

    /* Row */
    .row--main {
        max-width: 72%;
    }

    /* LAYOUT / SITE SPECIFICS
    ---------------------------------------------- */
    /* Homepage Banner */
    .banner .inner {
        justify-content: center;
        max-width: none;
    }
    .banner--wrap {
        background-position: 100% 100%;
        background-size: initial;
        display: flex;
        float: none;
        justify-content: center;
        margin: 0;
        min-height: 815px;
        min-width: 1px;
        max-width: 2200px;
        width: 100%;
    }
    .banner--text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5%;
        max-width: 54%;
        padding-top: 0;
        text-align: left;
        transform: translateX(-80%);
    }
    .banner h1 {
        font-size: 3rem;
    }
    .banner h2 {
        font-size: 2.1875rem;
    }
    .banner h2 strong {
        font-size: 2.5rem;
    }
    /* Header */
    .header__nav-link {
      margin-left: 15px;
      margin-right: 15px;
    }
}

/* DESKTOP (Banner Small) */
@media screen and (min-width:1700px) {
    .banner--text {
        margin-left: 25%;
    }
    .banner h1 {
        font-size: 3.75rem;
        margin-bottom: .5rem;
    }
    .banner h2 {
        font-size: 2.5rem;
    }
    .banner h2 strong {
        font-size: 3.125rem;
    }
}

/* DESKTOP (Banner Mid) */
@media screen and (min-width:1900px) {
    /* LAYOUT / SITE SPECIFICS
    ---------------------------------------------- */
    /* Homepage Banner */
    .banner--wrap {
        background-position: 90% 100%;
    }
    .banner--text {
        margin-left: 22%;
    }
}

/* DESKTOP (Banner Max) */
@media screen and (min-width:2200px) {
    /* LAYOUT / SITE SPECIFICS
    ---------------------------------------------- */
    /* Homepage Banner */
    .banner--wrap {
        background-position: 88% 100%;
        background-size: initial;
    }
    .banner--text {
        margin-left: 0;
        transform: translateX(-50%);
    }
}

/* MAX TABLET */
@media screen and (max-width: 1023px) {
    /* COMPONENT OVERRIDES
    ---------------------------------------------- */
    /* Carousel */
    app-carousel-item {
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    app-carousel-item:not([selected]) { display: none; }
    app-carousel-item .news--content {
        min-height: 160px;
    }
    app-carousel-item .news--title {
        display: block;
        max-height: 75px;
        overflow: hidden;
    }
}

/* MAX MOBILE */
@media screen and (max-width: 767px) {
    /* WIDGETS
    ---------------------------------------------- */
    /* Client Logos */
    .client--logo {
        max-width: 245px;
    }

    /* LAYOUT / SITE SPECIFICS
    ---------------------------------------------- */
    /* Homepage Banner */
    .dev.no-webp .banner--wrap { background-image: url(/dev/assets/images/family-mobile.png); }
    .es5.no-webp .banner--wrap { background-image: url(/es5/assets/images/family-mobile.png); }
    .es6.no-webp .banner--wrap { background-image: url(/es6/assets/images/family-mobile.png); }
    .dev.webp .banner--wrap { background-image: url(/dev/assets/images/family-mobile.webp); }
    .es5.webp .banner--wrap { background-image: url(/es5/assets/images/family-mobile.webp); }
    .es6.webp .banner--wrap { background-image: url(/es6/assets/images/family-mobile.webp); }

    .header {
        position: fixed;
    }
    .header-show, .header-open {
        display: block !important;
    }
    .header-hide {
        display: none;
    }
    .anchor--active {
        padding-top: 110px;
    }

    /* COMPONENT OVERRIDES
    ---------------------------------------------- */
    /* Carousel */
    app-carousel-item .news--content {
        min-height: 140px;
    }
    app-carousel-item .news--title {
        max-height: 62px;
    }

    /* MOBILE SPECIFIC
    ---------------------------------------------- */
    .centered--mobile { display:flex; justify-content:center; }
}
