:root {
    --color-alt: hsl(8, 49%, 51%);
    --color-alt-disabled: hsl(8, 10%, 56%);
    --color-alt-hover: hsl(8, 59%, 56%);
}

/* DEFAULTS
---------------------------------------------- */
* { box-sizing: border-box; }
html {
    font-size: 16px;
    min-height: 100%;
    padding: 0 0 1px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    background: white;
    color: #595959;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height:1.5;
    padding-top: calc(30px + 2rem);
    margin: 0;
    overflow-x: hidden;
}
main {
    background: white;
}
a {
    color: hsl(199, 100%, 34%);
    transition: color 0.15s;
    text-decoration: none;
}
a:hover {
    color: hsl(199, 100%, 39%);
}
p {
    margin: 0.75rem 0;
}

/* Form */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
legend {
    margin-bottom: 1.25rem;
    text-align: center;
}
textarea {
    font-family: inherit;
    font-size: 1rem;
    overflow: auto;
}

/* Headlines */
h1, .h1 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 0 1rem;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
h2, .h2 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5625rem;
    margin: 0 0 1rem;
    text-shadow: none;
}
h3, .h3 {
    font-size: 0.875rem;
    line-height: 1.3;
    margin: 0.5625rem 0;
}


/* HELPER CLASSES
---------------------------------------------- */
/* Elements */
.element { padding: 0.5rem; }

/* Background */
.bg {
    padding: 0 1.5rem;
    position: relative;
    width: 100%;
}
.bg--dots { background-color: #f2f2f2; background-image: url('/assets/images/bg-dots.png');}
.es5 .bg--dots { background-image: url('/es5/assets/images/bg-dots.png'); }

.bg--banner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 320px;
}
.bg--banner-copy {
    height: 320px;
}
.bg--gray {
    background-color: #595959;
    color: white;
}
.bg__inner {
    z-index: 100;
    margin-left: 0;
}
.bg__image {
    background: black;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.bg--primary { background: #559cbe; }
.bg--white { background-color: white; }

/* Block */
.block {
    display: block;
    width: 100%;
}

/* Hide */
.hide { display: none; }

/* Margin */
.margin-bottom__medium { margin-bottom: 2rem; }
.margin-bottom__none { margin-bottom: 0; }
.margin-top__none { margin-top: 0 !important; }
.margin-top__medium { margin-top: 2rem; }
.margin-top__small { margin-top: 1.5rem; }
.margin-top__x-small { margin-top: 1rem; }
.margin-tb--medium {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

/* Do not hide the header bar in mobile if the slide-out nav menu is open */
.nav-open header-bar.header-hide {
    display: block !important;
}

/* Padding */
.padding--bottom-none { padding-bottom:0 !important; }
.js .padding--bottom-none_js { padding-bottom:0 !important; }

/* Form: Required */
.req {
    padding-right: 2px;
    color: var(--color-alt);
    color: hsl(8, 49%, 51%);
}

/* Separator */
.sep {
    background: #e4e4e4;
    display: block;
    margin: 1rem auto;
    width: 20%;
    height: 1px;
}

/* Text */
.text--centered { text-align: center; }
.text--flat { margin: 0; }
.text--light { color: #bdbdbd; }
.text--primary { color: #559cbe; }
.text--secondary { color: #325C6C; }
.text--success { color: #31b731; }
.text--uppercase { text-transform: uppercase; }
.text--white { color: white; }

.text--large { font-size:1.125rem; }

/* Width */
.width--full {
    width: 100%;
}


/* WIDGETS
---------------------------------------------- */
/* Arrows */
.arrow {
    text-transform: uppercase;
}
.arrow:after {
    content: '\00A0\2192';
}

/* Wrapper Boxes */
[class*="box-"] {
    margin: 1rem 0;
}
.box--1 {
    background: #E2E3E3;
    border:0px solid #DBDCDC;
    border-top-width: 2px;
    padding: 20px;
}

/* Buttons */
.btn {
    background-color: hsl(199, 100%, 29%);
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 300;
    height: 40px;
    letter-spacing: 0.5px;
    line-height: 1.3;
    padding: .75rem 2rem;
    text-transform: uppercase;
    transition: 0.15s background-color;
}
.btn:hover {
    background-color: hsl(199, 100%, 34%);
    color: white;
}
.btn:disabled {
    background: hsl(199, 10%, 39%);
    cursor: not-allowed;
}
.btn--alt {
    background-color: var(--color-alt);
    background-color: rgb(192,85,69);
}
.btn--alt:hover {
    background-color: var(--color-alt-hover);
    background-color: hsl(8, 59%, 56%);
}
.btn--alt[disabled] {
    background-color: var(--color-alt-disabled);
    background-color: hsl(8, 10%, 56%);
}
.btn--wide { min-width: 200px; }
.btn-mobile--full { min-width: 100%; }

/* Carousel */
app-carousel-item:not([selected]) {
    display: none;
}

/* Columns */
.col { flex: 1; }
.col--full {
    flex-basis: 100%;
    max-width: 100%;
}
.col--1of2 {
    flex-basis: 50%;
    max-width: 50%;
}
.col--1of3 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
}
.col--middle { align-self: center; }
.col--top-offset { transform:translateY(10px); }
.col--shrink {
    flex: 0 1 auto;
}

/* Form: Field */
.field {
    margin-bottom: 1.25rem;
    position:relative;
    width: 100%;
}
.field.inline { margin-bottom:0; }
.field.error { margin-bottom:25px; }
.field:after { position:absolute; bottom:-26px; left:23%; display:none; text-align:left; color:red;font-size:.75rem; }
.field.inline:after { left:0; }
.field.error:after { display:block; }
.field.full-name:after { content:'Please add a first and last Name' }
.field input[type="email"],
.field input[type="password"],
.field input[type="search"],
.field input[type="text"] {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-family: inherit;
    font-size: 1rem;
    height: 40px;
    text-indent: 10px;
    width: 100%;
}
.field input:disabled {
    background: #d9d9d9;
}
.field label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}
.field textarea {
    border: 1px solid #d9d9d9;
    font-family: inherit;
    min-height: 5rem;
    padding: 0.5rem;
    resize: none;
    width: 100%;
}
.field.check label {
    padding: 5px 0;
    margin: -5px 0;
}

/* Form: Rows */
.form-row { margin: 0.5rem 0; }


/* Grid Box */

.grid-box {
    margin: 0 auto;
    width: 90%;
}
.grid-box + h2 {
    margin-top: 30px;
}
.grid-item {
    display: flex;
    margin-top:30px;
    text-align: left;
}
.grid-item h3 {
    margin-top: 0;
}
.grid-text {
    padding-left: 15px;
}
[unresolved] small-icon-what-we-do {
    display: block;
    min-width: 50px;
}

/* Icons */
.icon { margin-right: 1rem; }
.icon--details { background-position-y: -980px; }
.icon--masters { background-position-y: -840px; }
.icon--nerds { background-position-y: -1260px; }
.icon--picture { background-position-y: -560px; }
.icon--quality { background-position-y: -1120px; }
.icon--wizard { background-position-y: -700px; }

/* Inner Wrapper */
.inner {
    margin: 0 auto;
    max-width: 1200px;
    padding: 2.25rem 0;
    width: 100%;
}
.inner--flat { padding: 1rem 0; }
.inner--narrow { max-width: 960px; }
.inner--short { padding: 2rem 0; }

/* Form: Input */
.input {
    border: 2px solid #d9d9d9;
    border-radius: 4px;
    font-size: 1rem;
    max-height: 3.125rem;
    padding: 1rem;
    width: 100%;
}
.input--inline {
    display: inline-block;
    vertical-align: middle;
    width: initial;
}
.input--textarea {
    min-height: 8rem;
}

/* Form: Label */
.label {
    display: block;
    font-weight: 700;
    text-align: center;
}
.label--inline {
    display: inline-block;
}

/* Flattened List */
.list--flat {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
}
.list--flat li {
    margin-bottom: 4px;
}
.list--flat p {
    margin-top: 0;
}

/* Row */
.row {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
}
.row--center { justify-content: center; }
.row--desktop { display: block; }
.row--tablet { display: block; }

/* WEB-COMPONENT OVERRIDES
---------------------------------------------- */
/* LAZY IMAGE */
lazy-image img { width:100%; height:100%; display:block; }
.js lazy-image img { display:none; }

/* PINT BLOG */
pint-blog { min-height:75px; display:block;}
/* PINT JOBS */
.js pint-jobs { padding-top:40px; display:block; }
.js pint-jobs .job-panel { display:none; }
.js pint-jobs .job-panel[active] { display:block; }
.job-panel.start {  }
pint-jobs .row {
    display: flex;
    flex-direction: column;
}

pint-jobs .col:first-of-type {
    order: 2;
}

pint-jobs .col:last-of-type {
    order: 1;
}

/* LAYOUT / SITE SPECIFICS
---------------------------------------------- */
/* Who we are books */
#books {
    display: block;
    height: calc(100vw * 0.227);
    margin-bottom: -37px;
    width: 100vw;
    position: relative;
    left: -1.5rem;
}

/* Employee Carousel */
.employee-carousel {
    height: 400px;
    width: 100%;
}

/* What we do small icons */
.what-we-do-section section { display:block; overflow:hidden; }
.what-we-do-section section + section { margin-top:100px; }

.big-heading { 
    font-size:2rem; 
    line-height:44px;
    margin-bottom:10px; 
}

.small-icons-box {
    text-align:center;
    margin-bottom:30px;
}
.small-icons-box h3 {
    font-size:1.5rem;
}
.small-icons-box small-icon-50 {
    margin-top:17px;
}

.small-icons-box .col-md--1of4 { margin-bottom:-20px; }


/* Footer */
.footer {
    background: #f0f0f0;
    border-top: 2px solid #e0e0e0;
}
.footer__copyright {
    color: #595959;
    font-size: 0.625rem;
    text-align: center;
}
.footer__nav {
    color: #595959;
    display: none;
}
.footer__social-link {
    display: block;
    border-radius: 8px;
    overflow: hidden;
}
.footer__social-link svg {
    background: #e8e8e8;
}
.footer__social-icon {
    background-color: #f0f0f0;
    display: block;
    fill: #559cbe;
    height: 36px;
    padding: 0.333rem;
    transform: none;
    transition: 0.15s transform, 0.15s background-color;
    width: 36px;
}
.footer__social-icon:hover {
    transform: scale(1.2);
}

/* Header */
.header {
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px -2px rgba(0, 0, 0, 0.1);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 300;
}
.header__logo {
    display: block;
    height: 30px;
}
.header__logo-svg {
    fill: #559cbe;
    height: 30px;
    width: 100px;
}
.header__nav { height:30px; }
.js .header__nav { height:auto; }
.header__nav,
.header__nav-items {
    display: flex;
    flex-wrap: wrap;
}

.header__nav-container[unresolved] {
    flex-basis: 100%;
}
.js .header__nav-container[unresolved] {
    display: none;
}
.header__nav-items {
    flex-direction: column;
    padding: 1rem 0 0;
}
.header__nav-item {
    padding: .5rem 1rem;
}
.header__nav-container[unresolved] .header__nav-item {
    padding: .5rem 0;
}
.header__nav-link {
    color: #595959;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;
}
.header__nav-link:hover {
    color: #212121;
}
.header__nav-link--active:after {
    background: #559cbe;
    bottom: -4px;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;

}
.header__nav-open {
    display: none;
}

/* Products */
.product-icon {
    background-color: white;
    display: block;
    font-size: 0;
    height: 80px;
    margin: 0 auto;
    width: 175px;
    background-image: url('/assets/images/bg-sprite.png');
}
.es5 .product-icon { background-image: url('/es5/assets/images/bg-sprite.png'); }
.product-icon--zingchart {
    background-position: 15px -109px;
    background-size: 216px;
}
.product-icon--pwp {
    background-position: -50% -220px;
}
.product-icon--clickformant {
    background-position: 0 -285px;
    width: 225px;
}
.product-icon--port80 {
    background-position: -50% -350px;
    width: 200px;
}

/* Testimonials */
.testimonial__client {
    margin-left: 5.25rem;
}
.testimonial__quote {
    background: white;
    color: hsl(199, 100%, 29%);
    font-family: serif;
    font-size: 1rem;
    font-style: italic;
    line-height: 1.375rem;
    margin: 0;
    padding: 2.1875rem;
    position: relative;
    z-index: 100;
}
.testimonial__quote:after {
    background-image: url('/assets/images/bg-quote.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    content: '';
    height: 80px;
    left: 40px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 30px;
    z-index: -1;
}
.es5 .testimonial__quote:after { background-image: url('/es5/assets/images/bg-quote.png'); }

/* Join Our Team */
.whr-item {
    color: hsl(199, 100%, 34%);
    cursor: pointer;
    font-size: .875rem;
    font-weight: bold;
    line-height: 1.4;
    list-style: none;
    padding: 8px 0;
    transition: color 0.15s;
    text-decoration: none;
}
.whr-item[active],
.whr-item[active]:hover {
    color: #186E4E;
    cursor: default;
    position: relative;
}
.whr-item[active]:before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ffffff;
}
.whr-item:hover {
    color: hsl(199, 100%, 39%);
}
.job-panel {
    padding: 10px 0 0 0;
    position: relative;
}
.job-panel.start {

}
.job-panel h3 {
    font-size: 1.5rem;
    max-width: 90%;
}
.job-panel.start h3 {
    margin-top: 10px;
}
.job-panel .btn {
    margin-top: 20px;
    margin-bottom: 1rem;
}
.job-close {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.job-close span {
    background: #4B7B8C;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 1rem;
    padding: 7px 15px;
}

#whr_embed_hook .whr-info { display:none;  }
#whr_embed_hook ul { margin-left:0; padding-left:0; }
#whr_embed_hook ul li { list-style:none; margin-left:0; padding-left:0; }
.bg-join h3 { margin-top:10px; }
.bg-join .box--1 h3 {
    margin-top:0px;
    font-size: 1.5rem;
    max-width: 90%;
}
.bg-join .box--1 h3.whr-title { margin-top:20px; }


/* MEDIA QUERIES
---------------------------------------------- */
/* ABOVE PHONE */
@media screen and (min-width: 425px) {
    /* HELPER CLASSES
    ---------------------------------------------- */
    /* Button */
    .btn-mobile--full { min-width: 1px; }

    /* WIDGETS
    ---------------------------------------------- */
    /* Columns */
    .col-sm--1of2 {
        flex-basis: 50%;
        flex-grow: 0;
        max-width: 50%;
    }
    .col-sm--1of3 {
        flex-basis: 33.333333333%;
        flex-grow: 0;
        max-width: 33.333333333%;
    }
    .col-sm--2of3 {
        flex-basis: 66.666666667%;
        flex-grow: 0;
        max-width: 66.666666667%;
    }
    .col-sm--full {
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
    }
    .col-sm--shrink {
        flex: 0 1 auto;
    }

    /* Rows */
    .row-sm--separator > .col:nth-child(n + 2) {
        border-left: 1px solid #d9d9d9;
    }

    /* MOBILE SPECIFIC
    ---------------------------------------------- */
    .mobile--hide { display: initial; }
}


/* ABOVE TABLET */
@media screen and (min-width: 768px) {
    /* DEFAULTS
    ---------------------------------------------- */

    body {
        line-height: 1.6;
    }
    p {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    /* Headlines */
    h1, .h1 {
        font-size: 2.1875rem;
        line-height: 1.4;
    }
    h2, .h2 {
        margin-bottom: 1.5rem;
    }

    /* HELPER CLASSES
    ---------------------------------------------- */
    /* Backgrounds */
    .bg--banner { min-height: 400px; }
    .bg--banner-copy { height: 400px; }

    /* Margin */
    .margin-tb--medium {
        margin-bottom: 2rem;
        margin-top: 1.75rem;
    }

    /* Padding */
    .padding-right--tablet__medium { padding-right: 2rem; }
    .padding-right--tablet__large { padding-right: 3rem; }

    /* WIDGETS
    ---------------------------------------------- */
    /* Columns */
    .col-md--1of2 {
        flex-basis: 50%;
        flex-grow: 0;
        max-width: 50%;
    }
    .col-md--1of3 {
        flex-basis: 33.333333333%;
        flex-grow: 0;
        max-width: 33.333333333%;
    }
    .col-md--1of4 {
        flex-basis: 25%;
        flex-grow: 0;
        max-width: 25%;
    }
    .col-md--1of5 {
        flex-basis: 20%;
        flex-grow: 0;
        max-width: 20%;
    }
    .col-md--1of6 {
        flex-basis: 16.66666667%;
        flex-grow: 0;
        max-width: 16.66666667%;
    }
    .col-md--2of3 {
        flex-basis: 66.666666667%;
        flex-grow: 0;
        max-width: 66.666666667%;
    }
    .col-md--2of5 {
        flex-basis: 40%;
        flex-grow: 0;
        max-width: 40%;
    }
    .col-md--3of4 {
        flex-basis: 75%;
        flex-grow: 0;
        max-width: 75%;
    }
    .col-md--full {
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
    }
    .col-md--shrink {
        flex: 0 1 auto;
    }

    /* Form: Label */
    .label {
        display: block;
        flex: 0 0 10rem;
        font-size: 0.875rem;
        margin: 0.75rem 1.5rem 0 0;
        text-align: right;
    }
    .label--checkbox {
        flex-basis: 15rem;
        margin: 0;
        text-align: left;
    }

    .form textarea {
        min-height: 200px;
    }

    /* Form Row */
    .form-row {
        display: flex;
        margin: 1.25rem 0;
    }
    .form-row--offset {
        margin-left: 11.5rem;
    }

    /* Grid Box */
    .grid-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .grid-box + h2 {
        margin-top: 70px;
    }
    .grid-item {
        flex: 1 0 46%;
        margin-top: 20px;
        max-width: 46%;
    }
    .grid-icon {
        padding-right: 15px;
    }
    .grid-text {
        flex: 1 0 75%;
        padding-left:0;
    }

    /* Rows */
    .row--tablet { display: flex; }
    .row-md--separator > .col:nth-child(n + 2) {
        border-left: 1px solid #d9d9d9;
    }

    /* Width */
    .width--tablet__1of2 { width: 50%; }
    .col-md--1of3 {
        max-width: initial;;
    }
    /* LAYOUT / SITE SPECIFICS
    ---------------------------------------------- */
    /* Who we are books image */ 
    #books {
        display: block;
        height: 238px;
        margin-bottom: -79px;
        width: 100%;
        left: 0;
    }
    
    /* What we do icons */
    .big-heading { 
        font-size:3rem; 
        margin-bottom:60px; 
    }
    .big-heading + .grid-box {
        margin-top: -60px;
    }
    
    .small-icons-box .col-md--3of4 {
        flex-basis: 80%;
        flex-grow: 0;
        max-width: 80%;
    }
    
    .small-icons-box .col-md--1of4 {   
        margin-bottom:0px;
        flex-basis: 17%;
        max-width: 17%;
    }
    
    .small-icons-box {
        text-align:left;
        margin-bottom:30px;
    }


    /* Footer */
    .footer__nav {
        display: initial;
    }
    .footer__nav-link {
        color: #595959;
        font-size: 0.75rem;
        text-transform: uppercase;
        white-space: nowrap;
    }
    .footer__nav-link:hover {
        color: #333;
    }

    /* Header */
    .header__nav-container {
        align-items: center;
        display: flex;
        margin-left: 3rem;
    }
    .header__nav-container[unresolved] {
        flex-basis: auto;
    }
    .header__nav-items {
        flex-direction: row;
        padding: 0;
    }
    .header__nav-item {
        padding: 0 1rem;
    }
    .header__nav-container[unresolved] .header__nav-item {
        padding: .5rem 1rem;
    }
    .header__nav-open {
        display: none;
    }

    /* Products */
    .product-icon--clickformant {
        transform: scale(.65) translateX(-16%);
    }

    /* TABLET SPECIFIC
    ---------------------------------------------- */
    .tablet--hide { display: initial; }
}

/* ABOVE DESKTOP */
@media screen and (min-width: 1024px) {
    /* DEFAULTS
    ---------------------------------------------- */
    body {
        font-size: 1rem;
    }

    /* Headlines */
    h1, .h1 {
        font-size: 2.8125rem;
    }
    h2, .h2 {
        font-size: 1.875rem;
        line-height: 2.5rem;
    }

    /* HELPER CLASSES
    ---------------------------------------------- */
    /* Backgrounds */
    .bg--banner {
        min-height: 520px;
    }
    .bg--banner-copy {
        height: 520px;
    }

    /* Block */
    .block--desktop {
        display: block;
    }

    /* Padding */
    .padding-right--desktop__medium { padding-right: 2rem; }
    .padding-right--desktop__large { padding-right: 3rem; }

    /* Width */
    .width--desktop__full {
        width: 100%;
    }

    /* WIDGETS
    ---------------------------------------------- */
    /* Button */
    .btn {
        height: 50px;
        padding: 1rem 2rem;
    }

    /* Columns */
    .col-lg--1of2 {
        flex-basis: 50%;
        flex-grow: 0;
        max-width: 50%;
    }
    .col-lg--1of3 {
        flex-basis: 33.333333333%;
        flex-grow: 0;
        max-width: 33.333333333%;
    }
    .col-lg--1of4 {
        flex-basis: 25%;
        flex-grow: 0;
        max-width: 25%;
    }
    .col-lg--1of6 {
        flex-basis: 16.66666667%;
        flex-grow: 0;
        max-width: 16.66666667%;
    }
    .col-lg--2of3 {
        flex-basis: 66.666666667%;
        flex-grow: 0;
        max-width: 66.666666667%;
    }
    .col-lg--full {
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
    }
    .col-lg--shrink {
        flex: 0 1 auto;
    }

    /* Form: Field */
    .field { margin-bottom:20px; display:flex; align-items:center; }
    .field.inline { display:inline-flex; align-items:center; }
    .field.inline input { width:100% !important; }
    .field.error { margin-bottom:40px; }
    .field > * { margin-bottom:0; }
    .field label {
        font-size: .875rem;
        padding-right: 1rem;
        text-align: right;
        width:30%;
    }
    .field label span { font-weight:400; }
    .field input[type="email"],
    .field input[type="password"],
    .field input[type="search"],
    .field input[type="text"] {
        height: 50px;
    }
    .field.check { display:flex; align-items:center; }
    .field.check label { width:auto; display:flex; align-items:center; cursor:pointer; }
    .field.check input { margin-right:.875rem; }
    .field.offset { margin-left:23%; width:auto; }
    .field .top { padding-top:5px; align-self:flex-start; }

    /* Grid Box */
    .grid-box {}
    .grid-item {
        flex-basis: 31%;
        max-width: 31%;
    }

    /* Inner Wrapper */
    .inner { padding: 5rem 0; }
    .inner--short { padding: 3rem 0; }
    .inner--flat { padding: 1rem 0; }

    /* Rows */
    .row--desktop { display: flex; }
    .row-lg--separator > .col:nth-child(n + 2) {
        border-left: 1px solid #d9d9d9;
    }

    /* Width */
    .width--tablet__1of2 {
        width: inherit;
    }
    .width--full {
        width: 100%;
    }
    .col-md--1of3 {
        max-width: 33.333333333%;;
    }

    /* WEB-COMPONENT OVERRIDES
    ---------------------------------------------- */
    /* One-off Employee Bios fix */
    employee-bio {
        margin: 0 auto;
        width: 75%;
    }

    .job-panel {
        padding: 10px 80px 0 0;
        border-top: 2px solid #DBDCDC;
    }

    .job-panel .btn {
        margin-bottom: 0;
    }

    pint-jobs .row {
        flex-direction: row;
    }

    pint-jobs .col:first-of-type {
        order: 1;
    }

    pint-jobs .col:last-of-type {
        order: 2;
    }

    /* LAYOUT / SITE SPECIFICS
    ---------------------------------------------- */
    /* Products */
    .product-icon--clickformant {
        transform: scale(1) translateX(0);
    }

    /* DESKTOP SPECIFIC
    ---------------------------------------------- */
    .desktop--hide { display: none; }
}

@media screen and (min-width: 425px) and (max-width: 1020px) {
    .small-icons-box.row { display:block; }
    .small-icons-box .col-md--1of3 { flex-basis: 50%; max-width: 47%; float:left; min-height:240px; }
}

@media screen and (max-width: 425px) {
    .block--mobile {
        display: block;
    }
    .mobile--hide { display: none; }
    .mobile--show { display: block; }
}

/* MAX TABLET (Portrait) */
@media screen and (max-width: 768px) {
    .tablet--hide { display: none; }
}

/* IE Specific */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .content .bg--banner {
        justify-content:initial;
    }
}

/* Jobs Media Query */

